@model PizzaOrders.Models.Employees

@{
    ViewData["Title"] = "Add Employee";
}

<form method="post" asp-action="Create">
    <div class="form-group text-center">
        <h1>Create Employee</h1>
    </div>
</form>