@{
    ViewData["Title"] = "Challenges";
}
<h1>Challenges</h1>


<div class="container">
    <div class="d-flex justify-content-center flex-wrap">
        <div class="card m-5" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title text-center">Black Jack</h5>
                <div class="d-flex justify-content-center">
                    <a href="@Url.Action("Index", "BlackJack")">
                        <div class="btn btn-primary mx-2">Go</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>