@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Employee Page";
}

<div class="text-center">
    <h1 class="display-4">Employee List</h1>
    
    <div class="flex-row">
        <div class="justify-content-between">
            <a asp-controller="Employee" asp-action="Create">
                <div class="btn btn-primary">Add Employee</div>
            </a>
        </div>
    </div>
</div>
@if (Model.Count() > 0)
{
    <div class="container">
        <div class="d-flex justify-content-center flex-wrap">
                @foreach (var item in Model)
                {
                    <div class="card m-5" style="width: 18rem">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <div class="card-text">@item.Department</div>
                            <div class="d-flex justify-content-center">
                                <div class="p-3">Edit</div>
                                <div class="p-3">Delete</div>
                            </div>
                        </div>
                    </div>
                }
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="text-center mt-4">
            <h1 class="text-danger">There are no Employee add yet</h1>
        </div>
    </div>
}